<h1>About Us</h1>
<p>
    <a href="http://skl.sh/RuQ80c">i.b.leaf Design: Robyn Stevens</a>
    is a project for designers to collaborate or use as a beginning stepping stone for implementing ideas.

	<a href="http://ibleafExP.com"> i.b.leaf ExPressions </a>
	is a splash page for services I offer for helping people market their product, service and self.
	
	<br>
	<br>
	<br>

<div class= "center hero-unit">
We all be a leaf floating with the wind.  Where we land depends on how we choose to dance.
<br>
<br>

Years ago, while on the phone with an Apple support rep I was provided with a genuine question that has stuck with me ever since: "Why you be a leaf?" the Apple representative asked after noticing my signature at the bottom of my email.  No one had ever asked me that before nor interpreted the signature as such the implication.

<br>
<br>

I had plans during college to open an art gallery called Iris Blue and created a logo and a rough sketch of what I wanted to do for a business plan...only to discover five years later that someone had hi-jacked my idea and opened up a gallery with the very name.  Because I had formed an identity with association to Iris Blue, I altered the name to i.b.leaf to reflect my belief that creative expression is a way we are united. The name is also a tribute to my interest in the arts and what I learned through years of competitive running and race walking.   Why I chose the spelling of 'leaf' is another branch of the life story tree.

<br>
<br>

I initially signed up for the Skillshare Ruby on Rails class, instructed by Mattan Griffel, to learn the basics for progressively building my own site for hosting my portfolio online in addition to providing design and collaboration services.  I thoroughly enjoy meeting people with creative, playful and tastefully interesting mindsets.  For me, the term 'goal oriented' does not mean: me on an individual journey toward meeting my aspirations.  As a variation, to be goal-oriented means I acknowledge we all have goals and passions and I aspire to heed Emerson's words of wisdom: "Live the life you imagine" by providing or creating an outlet for others to live and create their own path while I also follow my own. 

<br>
<br> 

My background as a runner has taught me that the more you work on yourself, the better you and your team does, but as much as running may seem like an individual sport it's not.  We can't do it alone.  

<br>
<br>

With this web app I hope to create an environment where people with awesome ideas or a need for expression but don't know where to start, may find their beginning here.  

<br>
<br>

©Robyn Stevens, 2012	
  
</p>